html {
  background-color: rgba(48,48,48,.6);
  font-family: "Mada", "Sans Serif";
  border: 2px solid black;
}


#background-logo {
  position: relative;
}

#background-logo img {
  position: fixed;
  bottom: 0px;
  right: 0px;
  top: 0px;
  opacity: .2;
  width: 100%;
  height: auto;
  z-index: -1;
}

header img {
   width: 90px;
   position: absolute;
}

.subheading {
  color: rgb(226, 28, 35);
  font-weight: bold;
}

.cities {
  padding: 10px 55px 10px 0px; 
  line-height: 25px;
}

ul, li {
  list-style-type: none;
  text-align: center;
  font-weight: bold;
}

li {
  display: inline;
  padding: 10px 10px 20px 20px;  
}

footer {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5%;
}

header, h1, p, footer {
  padding-left: 5%;
  padding-right: 5%;
}

main {
  margin: 10% 25% 15%;
  padding-top: 3%;
  background: white;
}

button {
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-weight: 800;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    background-color: #fa4542;
    box-shadow: 0 3px 0 0 #a20101;
    text-decoration: none;
    padding: .8125rem 2rem;
    border: 0;
    font-size: 1.125rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 3px;
}

button a {
    text-decoration: none;
    color: white;
}

.social {
  padding-top: 25px;
}

.fa {
  padding: 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: black;
  color: white;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}










